@model SmsGateway.Presentation.WebClient.Models.TrocarSenhaModel


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true) 
    <fieldset>
        <legend>@Messages.TrocarSenha</legend>

        <div class="display-label">@Messages.SenhaAtual</div>
        <div class="display-field">
            @Html.EditorFor(model => model.SenhaAtual)
        </div>
        <div class="display-label">@Messages.NovaSenha</div>
        <div class="display-field">
            @Html.EditorFor(model => model.SenhaNova)
        </div>
        <div class="display-label">@Messages.ConfirmaSenha</div>
        <div class="display-field">
            @Html.EditorFor(model => model.SenhaConfirmada)
        </div>
   
    </fieldset>
   
     <input type="submit" value="@Messages.website_Submit" />
            @ViewBag.ErrorMsg
}

<div>
    @Html.ActionLink(@Messages.website_Back, "Index")
</div>
