@model SmsGateway.Application.CoreContext.DTO.SMSModule.SolicitacaoDeCadastroDTO
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<fieldset>
    <legend>@Messages.SolicitacoesDeCadastro</legend>

    <div class="display-label">@Messages.Data</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>
    <div class="display-label">@Messages.Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
  <div class="display-label">@Messages.website_Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="display-label">@Messages.Telefone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>
    <div class="display-label">@Messages.Status</div>
    <div class="display-field">
       @(Model.IsEnabled ? @Messages.Pendente : @Messages.Respondido )
    </div>
     
</fieldset>
 